<div class="container">
  <div class="item">
    <span class="info">Victor (on <em>immediate</em>)</span>
    @defer (on immediate) {
      <app-victor />
    } @placeholder {
      <img src="placeholder.svg" alt="Victor" />
    } @loading {
      <span>Victor is being loaded.</span>
    } @error {
      <strong>Victor loading error.</strong>
    }
  </div>
  <div class="item">
    <span class="info">Noemie (on <em>timer</em>, <em>when Signal</em>)</span>
    @defer (when showNoemie()) {
      <app-noemie />
    } @placeholder {
      <img src="placeholder.svg" alt="Noemie" />
    } @loading {
      <span>Noemie is being loaded.</span>
    } @error {
      <strong>Noemie loading error.</strong>
    }
  </div>
  <div class="item" #itemDiv>
    <span class="info">Marcus (on <em>hover</em>, but <em>prefetch</em> on idle)</span>
    @defer (on hover(itemDiv); prefetch on idle) {
      <app-marcus />
    } @placeholder {
      <img src="placeholder.svg" alt="Marcus" />
    } @loading {
      <span>Marcus is being loaded.</span>
    } @error {
      <strong>Marcus loading error.</strong>
    }
  </div>
  <div class="item">
    <span class="info">Justine (on <em>interaction</em>, press the button!)</span>
    <button #interactionButton>Show me Justine</button>
    @defer (on interaction(interactionButton)) {
      <app-justine />
    } @placeholder {
      <img src="placeholder.svg" alt="Justine" />
    } @loading {
      <span>Justine is being loaded.</span>
    } @error {
      <strong>Justine loading error.</strong>
    }
  </div>
</div>
