<div class="container">
  <div class="item">
    <span class="info">Victor (on immediate; <em>hydrate never</em>)</span>
    @defer (on immediate; hydrate never) {
      <app-victor />
    } @placeholder {
      <img src="placeholder.svg" alt="Victor" />
    } @loading {
      <span>Victor is being loaded.</span>
    } @error {
      <strong>Victor loading error.</strong>
    }
  </div>
  <div class="item">
    <span class="info">Noemie (on timer(4200ms); <em>hydrate on hover</em>)</span>
    @defer (when showNoemie(); hydrate on hover) {
      <app-noemie />
    } @placeholder {
      <img src="placeholder.svg" alt="Noemie" />
    } @loading {
      <span>Noemie is being loaded.</span>
    } @error {
      <strong>Noemie loading error.</strong>
    }
  </div>
  <div class="item" #itemDiv>
    <span class="info">Marcus (on hover; prefetch; <em>hydrate on interaction</em>)</span>
    @defer (on hover(itemDiv); prefetch on idle; hydrate on interaction) {
      <app-marcus />
    } @placeholder {
      <img src="placeholder.svg" alt="Marcus" />
    } @loading {
      <span>Marcus is being loaded.</span>
    } @error {
      <strong>Marcus loading error.</strong>
    }
  </div>
  <div class="item">
    <span class="info">Justine (on interaction; <em>hydrate on interaction</em>)</span>
    <button #interactionButton>Show me Justine</button>
    @defer (on interaction(interactionButton); hydrate on interaction) {
      <app-justine />
    } @placeholder {
      <img src="placeholder.svg" alt="Justine" />
    } @loading {
      <span>Justine is being loaded.</span>
    } @error {
      <strong>Justine loading error.</strong>
    }
  </div>
</div>
