.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  row-gap: 2rem;
  column-gap: 1.5rem;
  max-width: calc(800px + 3rem);
  margin: 0 auto;

  justify-items: center;
  align-items: center;
}

.item {
  position: relative;
  width: 400px;
  height: 225px;
  background-color: plum;

  margin: auto;
  font-size: 2rem;
  line-height: 225px;
  text-align: center;
}

.info {
  position: absolute;
  top: -1rem;
  left: 0;
  height: 1rem;
  z-index: 1;
  display: block;
  font-size: 1rem;
  line-height: 1rem;
}

em {
  color: var(--hot-red);
}

button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
